In [21]:
#use environment MRI_Analysis

import os.path as op
from itertools import product
import os
import pandas as pd
import openpyxl
import msoffcrypto
import io
import seaborn as sns
from matplotlib import pyplot as plt
import nibabel as nib

import numpy as np
#from paths import root_dir
from paths_funcs import glob_sub_dir

In [22]:
# get coordinates from thesis
root_dir='/media/Data03/Thesis/Dabelstein/derivatives/automated_electrode_extraction'
Name_Bach='Sophie'
#root_dir='/media/Data03/Thesis/Hering/derivatives/automated_electrode_extraction'
#Name_Bach='Kira'
Anode='Anode'
Cathode1='Cathode1'
Cathode2='Cathode2'
Cathode3='Cathode3'

In [23]:
sub_dirs = glob_sub_dir(root_dir)

dict_coord={}

if sub_dirs is None:
    raise FileNotFoundError("No subdirectories found in root directory.")

for sub_dir in sub_dirs:
    dir_array=sub_dir.split(os.sep)
    sub=dir_array[7]
    ses=dir_array[9]
    run=dir_array[10]
    #coords are in voxel space
    coords= np.loadtxt(op.join(sub_dir, "mid.txt"), dtype=int, delimiter=",")
    dict_coord[f'{sub}_{ses}_{run}_{Anode}'] = coords[0]
    dict_coord[f'{sub}_{ses}_{run}_{Cathode1}'] = coords[1]
    dict_coord[f'{sub}_{ses}_{run}_{Cathode2}'] = coords[2]
    dict_coord[f'{sub}_{ses}_{run}_{Cathode3}'] = coords[3]


    #transform voxel in anatomical space
    # Load the Nifti file
    img_root=f'/media/MeMoSLAP_Subjects/derivatives/automated_electrode_extraction/{sub}/unzipped'
    img = nib.load(os.path.join(img_root,f'{sub}_ses-base_acq-mprage_T1w.nii'))

    # Get the affine transformation matrix
    affine = img.affine

    # Transform voxel coordinates into anatomical space
    #voxel_coords = (x, y, z)  # Replace with your voxel coordinates
    dict_coord[f'{sub}_{ses}_{run}_{Anode}'] = np.dot(affine, [coords[0][0],coords[0][1],coords[0][2], 1])[:3]
    dict_coord[f'{sub}_{ses}_{run}_{Cathode1}'] = np.dot(affine, [coords[1][0],coords[1][1],coords[1][2], 1])[:3]
    dict_coord[f'{sub}_{ses}_{run}_{Cathode2}'] = np.dot(affine, [coords[2][0],coords[2][1],coords[2][2], 1])[:3]
    dict_coord[f'{sub}_{ses}_{run}_{Cathode3}'] = np.dot(affine, [coords[3][0],coords[3][1],coords[3][2], 1])[:3]

    #dist = np.zeros(len(coords) ** 2, dtype=int)

    #for idx, (coord1, coord2) in enumerate(product(coords, coords)):
    #    dist[idx] = np.linalg.norm(coord1 - coord2)

    #dist = dist.reshape(len(coords), len(coords))

    #anode = coords[np.argmin(np.sum(dist, axis=1))]

In [24]:
df=pd.DataFrame.from_dict(dict_coord, orient='index', columns=['X','Y','Z'])

df['Electrode'] = np.where(df.index.str.contains(Anode), Anode,
                  np.where(df.index.str.contains(Cathode1), Cathode1,
                  np.where(df.index.str.contains(Cathode2), Cathode2,
                  np.where(df.index.str.contains(Cathode3), Cathode3,'else'))))
df['run'] = np.where(df.index.str.contains('run-01'), 'run-01',
                  np.where(df.index.str.contains('run-02'), 'run-02','else'))
df['Session'] = np.where(df.index.str.contains('ses-1'), 'ses-1',
                  np.where(df.index.str.contains('ses-2'), 'ses-2',
                  np.where(df.index.str.contains('ses-3'), 'ses-3',
                  np.where(df.index.str.contains('ses-4'), 'ses-4','else'))))
df['Subject']=df.index.str.split('_').str[0]
df.to_csv('orginal_coord_sophie.csv')

#melt or unpivot Electrode Dimensions
df = pd.melt(df, id_vars=['Electrode','run','Session','Subject'], value_vars=['X', 'Y', 'Z'], var_name='Dimension', value_name='Coordinates')
df['Experiment']=0

df

     Electrode     run Session  Subject Dimension  Coordinates  Experiment
0        Anode  run-01   ses-4  sub-015         X    74.094224           0
1     Cathode1  run-01   ses-4  sub-015         X    74.044583           0
2     Cathode2  run-01   ses-4  sub-015         X    62.659286           0
3     Cathode3  run-01   ses-4  sub-015         X    78.118825           0
4        Anode  run-02   ses-4  sub-015         X    74.062845           0
...        ...     ...     ...      ...       ...          ...         ...
2875  Cathode3  run-01   ses-1  sub-038         Z    33.898933           0
2876     Anode  run-02   ses-1  sub-038         Z    60.837214           0
2877  Cathode1  run-02   ses-1  sub-038         Z    76.223275           0
2878  Cathode2  run-02   ses-1  sub-038         Z    57.512562           0
2879  Cathode3  run-02   ses-1  sub-038         Z    34.206024           0

[2880 rows x 7 columns]

In [25]:
list_sub=[]
for sub in df['Subject'].unique():
    if (len((df[(df['Subject'] == sub)]['Session'].unique())) == 4) & (len((df[(df['Subject'] == sub)]['run'])) == 8*4*3):
        list_sub.append(sub)

print('List of all subjects containing 4 session and 2 runs:',list_sub)
#df_dim_coml=df[df['Subject'].isin(list_sub)]
#df_dim_coml.to_csv('df_dim_compl.csv')

List of all subjects containing 4 session and 2 runs: ['sub-015', 'sub-058', 'sub-011', 'sub-034', 'sub-010', 'sub-062', 'sub-017', 'sub-043', 'sub-025', 'sub-001', 'sub-006']

#

# Add baseline electrodes

In [26]:
dict_Projects={}

#from long to wide format
def unpivot(df):
    #index=df_1.index
    columns=df.columns.to_list()
    df=df[columns[0:13]]
    df=pd.melt(df, id_vars=[columns[0]], value_vars=columns[1:13])
    #df.columns= ["Name","Atmer","Kategorien","Messungen","Werte"]
    
    return(df)


for Project, Name in zip(['P1','P3','P7'],['Mohamed','Harun','Leonardo']):
    
    dict_Projects[f'path_{Project}']=f'/media/AG-Share/01_Studien/00_FOR5429_MeMoSLAP/RU_RegularMeetings/JF_{Name}_{Project}/Coregistrated_Electrodecoordinates/{Project}_Electrode_Position.xlsx'
    dict_Projects[f'df_{Project}']=pd.read_excel(dict_Projects[f'path_{Project}'], header=[0,1,2]).dropna(axis=0)
    print(dict_Projects[f'df_{Project}'].columns)
    dict_Projects[f'df_{Project}']=dict_Projects[f'df_{Project}'].drop(columns=[('Unnamed: 0_level_0', 'Unnamed: 0_level_1',       'Item')])
    
    
    print(dict_Projects[f'df_{Project}'])
    #unpivot data frame
    dict_Projects[f'df_{Project}_unpivot']=unpivot(dict_Projects[f'df_{Project}'])
    dict_Projects[f'df_{Project}_unpivot']['Experiment']=Project
    dict_Projects[f'df_{Project}_unpivot'].columns = ["Subject","Session","Electrode","Dimension",'Coordinates','Experiment']
    dict_Projects[f'df_{Project}_unpivot'] = dict_Projects[f'df_{Project}_unpivot'][dict_Projects[f'df_{Project}_unpivot']['Session'].str.contains('Variability')==False]
    dict_Projects[f'df_{Project}_unpivot']['Session'] = dict_Projects[f'df_{Project}_unpivot']['Session'].str.replace(' Coordinates', '').str.replace('Session ','ses-').str.replace('P9','ses-0')
    dict_Projects[f'df_{Project}_unpivot']['run']='baseline'
    #dict_Projects[f'df_{Project}_unpivot']['Electrode'] = dict_Projects[f'df_{Project}_unpivot']['Electrode'].str.replace('Cathode', 'Cat-')
    dict_Projects[f'df_{Project}_unpivot']['Subject']= dict_Projects[f'df_{Project}_unpivot']['Subject'].str.replace('Sub','sub-') 
    #dict_Projects[f'df_{Project}_unpivot']=dict_Projects[f'df_{Project}_unpivot'].set_index('Subject')
    #dict_Projects[f'df_{Project}_unpivot']['Electrode_Dim']=(dict_Projects[f'df_{Project}_unpivot']['Space'] + '_' +
    #                                                        dict_Projects[f'df_{Project}_unpivot']['Electrode'] + '_' +
    #                                                        dict_Projects[f'df_{Project}_unpivot']['Dimension'])
    #dict_Projects[f'df_{Project}_unpivot']['Exp_Electrode_Dim']=(dict_Projects[f'df_{Project}_unpivot']['Experiment'] + '_' +
    #                                                             dict_Projects[f'df_{Project}_unpivot']['Space'] + '_' +
    #                                                        dict_Projects[f'df_{Project}_unpivot']['Electrode'] + '_' + 
    #                                                        dict_Projects[f'df_{Project}_unpivot']['Dimension'] 
    #                                                        )

MultiIndex([(               'Unnamed: 0_level_0', 'Unnamed: 0_level_1', ...),
            (               'Unnamed: 1_level_0', 'Unnamed: 1_level_1', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode3', ...)],
           )
   Unnamed: 1_level_0 P9 Coordinates                                       \
   Unnamed: 1_level_1         Anode                Cathode1
           Subject ID              X     Y       Z        X     Y       Z
0              Sub001          74.08 -61.42   3.59    64.13 -81.92  22.88
2              Sub004          77.21 -57.81  -6.91    71.43 -75.83  16.23
3              Sub006          72.14 -66.00  16.79    63.58 -83.02  39.88
6              Sub015          73.92 -57.92   7.36    63.84 -75.76  29.07
7              Sub016          76.38 -42.29   9.26    70.78 -60.93  32.07
8              Sub017          67.53 -58.47 -13.37    60.69 -74.36  11.01
9              Sub018          73.66 -55.22   1.38    69.34 -76.11  21.55
13             Sub025          71.36 -53.69  23.15    63.20 -69.56  47.14
14             Sub026          71.46 -65.78   5.69    64.31 -83.64  28.68
15             Sub030          67.26 -61.01  16.64    63.01 -79.50  39.76
16             Sub042          73.55 -55.12 -12.76    68.86 -74.67   8.84
20             Sub056          78.53 -51.37   4.66    74.34 -72.63  25.35

                           ... Session 2 Coordinates Post (T1)                 \
   Cathode2                ...                          Anode  Cathode1
          X     Y       Z  ...                               Z        X    Y
0     66.81 -64.15 -25.34  ...                            -7.0     62.0 -84.0
2     71.92 -67.35 -34.66  ...                           -12.0     69.0 -81.0
3     64.27 -74.20 -10.75  ...                             1.0     65.0 -84.0
6     71.57 -66.63 -21.17  ...                            -3.0     69.0 -64.0
7     71.93 -51.52 -18.81  ...                             7.0     73.0 -58.0
8     62.31 -69.88 -40.40  ...                            -8.0     57.0 -79.0
9     73.12 -62.21 -27.65  ...                             2.0     67.0 -81.0
13    65.96 -64.45  -4.05  ...                            33.0     60.0 -71.0
14    64.23 -73.99 -21.87  ...                            10.0     69.0 -77.0
15    61.42 -70.22 -11.09  ...                            12.0     61.0 -83.0
16    67.05 -62.17 -41.12  ...                           -11.0     59.0 -86.0
20    72.60 -57.47 -23.94  ...                            -3.0     73.0 -74.0


         Cathode2             Cathode3
       Z        X    Y      Z        X    Y      Z
0   12.0     68.0 -60.0 -35.0     80.0 -37.0  10.0
2    6.0     73.0 -60.0 -41.0     79.0 -31.0   1.0
3   31.0     55.0 -84.0 -21.0     77.0 -38.0  13.0
6   25.0     68.0 -72.0 -24.0     80.0 -26.0  10.0
7   28.0     75.0 -46.0 -25.0     82.0 -10.0  14.0
8   10.0     64.0 -65.0 -37.0     72.0 -31.0   6.0
9   21.0     74.0 -62.0 -27.0     78.0 -34.0  14.0
13  52.0     69.0 -60.0   5.0     76.0 -29.0  36.0
14  32.0     68.0 -67.0 -20.0     79.0 -31.0  18.0
15  34.0     62.0 -73.0 -15.0     74.0 -37.0  21.0
16   2.0     66.0 -62.0 -46.0     80.0 -42.0   2.0
20  17.0     72.0 -55.0 -31.0     82.0 -25.0  10.0

[12 rows x 61 columns]
MultiIndex([(               'Unnamed: 0_level_0', 'Unnamed: 0_level_1', ...),
            (               'Unnamed: 1_level_0', 'Unnamed: 1_level_1', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode3', ...)],
           )
   Unnamed: 1_level_0 P9 Coordinates                                       \
   Unnamed: 1_level_1         Anode                Cathode1
           Subject ID              X     Y       Z        X     Y       Z
1              Sub012         -68.08 -53.93  46.91   -68.64 -14.62  53.61
2              Sub014         -72.25 -59.39  50.30   -76.41 -20.34  49.87
3              Sub052         -69.24 -38.70  45.19   -68.28   1.02  45.26
4              Sub047         -76.67 -64.98  35.73   -75.66 -25.36  38.92
5              Sub024         -70.87 -56.84  53.76   -71.36 -17.40  57.83
6              Sub023         -62.96 -60.82  61.29   -66.65 -21.39  59.52
7              Sub003         -65.26 -57.79  51.19   -69.33 -18.36  55.52
8              Sub002         -61.44 -45.59  64.81   -62.28  -5.91  61.48
9              Sub039         -72.00 -42.02  51.16   -71.35  -2.11  51.42
10             Sub033         -76.01 -46.77  38.98   -75.98  -7.30  44.76
12             Sub049         -70.30 -52.93  50.53   -67.27 -13.41  50.01
13             Sub062         -70.26 -46.13  36.04   -67.39  -6.54  36.50

                           ... Session 2 Coordinates Post (T1)                 \
   Cathode2                ...                          Anode  Cathode1
          X     Y       Z  ...                               Z        X    Y
1    -73.13 -66.30   9.78  ...                            40.0    -74.0 -20.0
2    -70.14 -76.28  14.67  ...                            37.0    -80.0 -24.0
3    -68.37 -56.23   9.28  ...                            41.0    -70.0  -1.0
4    -73.14 -76.37  -2.07  ...                            37.0    -74.0 -23.0
5    -66.46 -70.01  16.32  ...                            45.0    -71.0 -13.0
6    -66.99 -78.98  26.49  ...                            58.0    -65.0 -23.0
7    -65.80 -72.58  14.24  ...                            52.0    -68.0  -6.0
8    -66.34 -65.64  30.93  ...                            66.0    -65.0   0.0
9    -76.03 -59.36  15.62  ...                            53.0    -66.0 -14.0
10   -74.80 -60.20   1.57  ...                            38.0    -75.0   3.0
12   -67.51 -70.16  14.68  ...                            49.0    -67.0 -14.0
13   -68.69 -62.41  -0.33  ...                            23.0    -72.0 -13.0


         Cathode2             Cathode3
       Z        X    Y      Z        X    Y    Z
1   49.0    -71.0 -65.0   4.0    -58.0 -76.0  60
2   43.0    -76.0 -65.0   3.0    -63.0 -70.0  60
3   43.0    -73.0 -55.0   4.0    -56.0 -59.0  68
4   44.0    -78.0 -64.0   7.0    -60.0 -77.0  54
5   50.0    -68.0 -64.0   7.0    -65.0 -77.0  71
6   63.0    -68.0 -76.0  21.0    -37.0 -79.0  78
7   57.0    -70.0 -60.0  15.0    -52.0 -65.0  80
8   70.0    -70.0 -55.0  28.0    -41.0 -62.0  84
9   63.0    -74.0 -62.0  17.0    -47.0 -74.0  75
10  43.0    -76.0 -52.0   1.0    -64.0 -58.0  67
12  56.0    -71.0 -61.0  16.0    -56.0 -69.0  71
13  31.0    -72.0 -61.0 -16.0    -59.0 -71.0  49

[12 rows x 61 columns]
MultiIndex([(               'Unnamed: 0_level_0', 'Unnamed: 0_level_1', ...),
            (               'Unnamed: 1_level_0', 'Unnamed: 1_level_1', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',             'Anode ', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode1', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode2', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            (                   'P9 Coordinates',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 1 Coordinates Pre (PETRA)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode2', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            (  'Session 1 Coordinates Post (T1)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',             'Anode ', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode1', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode2', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            ('Session 2 Coordinates Pre (PETRA)',           'Cathode3', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',             'Anode ', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode1', ...),
            (  'Session 2 Coordinates Post (T1)',           'Cathode1', ...),

In [27]:
# concatenate ses-base and 
df_concat=pd.concat([df,dict_Projects[f'df_P1_unpivot'],dict_Projects[f'df_P3_unpivot'],dict_Projects[f'df_P7_unpivot']])
df_concat

    Electrode       run Session  Subject Dimension  Coordinates Experiment
0       Anode    run-01   ses-4  sub-015         X    74.094224          0
1    Cathode1    run-01   ses-4  sub-015         X    74.044583          0
2    Cathode2    run-01   ses-4  sub-015         X    62.659286          0
3    Cathode3    run-01   ses-4  sub-015         X    78.118825          0
4       Anode    run-02   ses-4  sub-015         X    74.062845          0
..        ...       ...     ...      ...       ...          ...        ...
139  Cathode3  baseline   ses-0  sub-037         Z    68.830000         P7
140  Cathode3  baseline   ses-0  sub-040         Z    38.990000         P7
141  Cathode3  baseline   ses-0  sub-043         Z    60.970000         P7
142  Cathode3  baseline   ses-0  sub-058         Z    62.200000         P7
143  Cathode3  baseline   ses-0  sub-060         Z    66.150000         P7

[3312 rows x 7 columns]

In [29]:
# add Experiment label for subjects rows in which it's zero
for Project in ['P1','P3','P7']:
    list_subject=df_concat.loc[df_concat['Experiment']==Project,'Subject'].unique()
    df_concat["Experiment"] = np.where(df_concat["Subject"].isin(list_subject), Project, df_concat["Experiment"])
df_concat

    Electrode       run Session  Subject Dimension  Coordinates Experiment
0       Anode    run-01   ses-4  sub-015         X    74.094224         P1
1    Cathode1    run-01   ses-4  sub-015         X    74.044583         P1
2    Cathode2    run-01   ses-4  sub-015         X    62.659286         P1
3    Cathode3    run-01   ses-4  sub-015         X    78.118825         P1
4       Anode    run-02   ses-4  sub-015         X    74.062845         P1
..        ...       ...     ...      ...       ...          ...        ...
139  Cathode3  baseline   ses-0  sub-037         Z    68.830000         P7
140  Cathode3  baseline   ses-0  sub-040         Z    38.990000         P7
141  Cathode3  baseline   ses-0  sub-043         Z    60.970000         P7
142  Cathode3  baseline   ses-0  sub-058         Z    62.200000         P7
143  Cathode3  baseline   ses-0  sub-060         Z    66.150000         P7

[3312 rows x 7 columns]

In [30]:
df_concat.to_csv("df_concat_manually_extr.csv")

# add date

In [166]:
#add baseline coordinates
passwd = 'MeMo_HGW'
path_Recruiting='/media/AG-Share/01_Studien/00_FOR5429_MeMoSLAP/RU_Experiments_Participants/01_Recruiting/MeMoSLAP_ScreeningList.xlsx'
decrypted_workbook = io.BytesIO()
with open(path_Recruiting, 'rb') as file:
    office_file = msoffcrypto.OfficeFile(file)
    office_file.load_key(password=passwd)
    office_file.decrypt(decrypted_workbook)

df_time = pd.read_excel(decrypted_workbook, sheet_name='Subjects')

#path_Recruiting='/media/AG-Share/01_Studien/00_FOR5429_MeMoSLAP/RU_Experiments_Participants/01_Recruiting'

In [167]:
columns= ['Screening ID','Project','DateSession1','DateSession2','DateSession3','DateSession4','DateSession5']
                
df_time=df_time[columns].dropna()
df_time['SubjectID']='not given yet'
df_time

,Screening ID,Project,DateSession1,DateSession2,DateSession3,DateSession4,DateSession5,SubjectID
0,1,P7,2023-05-24 00:00:00,07.06.2023,2023-10-18,2023-10-25,2023-11-01,not given yet
1,2,P3,2023-08-31 00:00:00,2023-09-13 00:00:00,2023-09-20,2023-10-22,2023-10-29,not given yet
4,22,P7,2023-05-31 00:00:00,2023-06-07 00:00:00,2023-08-23,2023-09-17,2023-09-28,not given yet
8,9,P1,2023-05-17 00:00:00,2023-05-24 00:00:00,2023-08-03,2023-09-27,2023-10-26,not given yet
9,10,P3,2023-06-08 00:00:00,2023-06-15 00:00:00,2023-08-10,2023-11-09,2023-11-22,not given yet
...,...,...,...,...,...,...,...,...
161,161,P7,2024-02-14 00:00:00,2024-02-21 00:00:00,2024-02-28,2024-03-06,2024-03-13,not given yet
178,183,P1,2023-11-26 00:00:00,2023-12-03 00:00:00,2023-12-10,2023-12-17,2024-01-03,not given yet
218,223,P3,2024-01-31 00:00:00,2024-02-07 00:00:00,2024-02-15,2024-02-22,2024-02-29,not given yet
240,245,P3,2024-02-07 00:00:00,2024-02-14 00:00:00,2024-02-21,2024-03-06,2024-03-13,not given yet
259,326,P7,2024-03-13 00:00:00,2024-03-20 00:00:00,2024-03-27,2027-04-03,2027-04-10,not given yet

In [168]:
passwd='WGH_mEmO'
path_Recruiting='/media/AG-Share/01_Studien/00_FOR5429_MeMoSLAP/RU_Experiments_Participants/01_Recruiting/MeMoSLAP_MatchingList.xlsx'
decrypted_workbook = io.BytesIO()
with open(path_Recruiting, 'rb') as file:
    office_file = msoffcrypto.OfficeFile(file)
    office_file.load_key(password=passwd)
    office_file.decrypt(decrypted_workbook)

df_matching = pd.read_excel(decrypted_workbook, sheet_name='Subjects')

In [169]:
df_matching=df_matching[['SubjectID','Screening ID']].dropna()
dict_df = df_matching.set_index('Screening ID')['SubjectID'].to_dict()
dict_df.keys()

dict_keys([168, 155, 38, 72, 171, 172, 169, 105, 132, 9, 61, 50, 29, 1, 20, 65, 37, 54, 22, 13, 41, 43, 57, 25, 17, 33, 48, 56, 58, 66, 89, 92, 10, 125, 82, 99, 68, 5, 27, 51, 100, 63, 73, 67, 114, 93, 112, 62, 64, 71, 116, 135, 97, 126, 104, 124, 75, 47, 128, 118, 131, 19, 121, 94, 49, 86, 144, 122, 69, 23, 2, 30, 145, 183, 88, 153, 113, 166, 87, 21, 139, 245, 263, 32, 133, 223, 161, 326, 248, 264, 241, 296, 325, 300, 212, 308, 348, 179, 163, 239, 262, 273, 271, 182, 199, 260, 184, 304, 207, 289, 310, 83, 138, 196, 206, 210, 247, 272, 225, 286, 209, 229, 195, 292, 307])

In [170]:
for key, value in dict_df.items():
    df_time.loc[df_time['Screening ID']==key,'SubjectID']=value
df_time.columns=['Screening ID','Project','ses-0','ses-1','ses-2','ses-3','ses-4','Subject']
df_time['Subject']=df_time['Subject'].str.replace('sub','sub-')

In [171]:
df_time_melt=pd.melt(df_time, id_vars=['Subject','Project'],value_vars=['ses-0','ses-1','ses-2','ses-3','ses-4'],var_name='Session', value_name='date')
df_time_melt

     Subject Project Session                 date
0    sub-005      P7   ses-0  2023-05-24 00:00:00
1    sub-062      P3   ses-0  2023-08-31 00:00:00
2    sub-010      P7   ses-0  2023-05-31 00:00:00
3    sub-001      P1   ses-0  2023-05-17 00:00:00
4    sub-024      P3   ses-0  2023-06-08 00:00:00
..       ...     ...     ...                  ...
310  sub-078      P7   ses-4  2024-03-13 00:00:00
311  sub-065      P1   ses-4  2024-01-03 00:00:00
312  sub-077      P3   ses-4  2024-02-29 00:00:00
313  sub-073      P3   ses-4  2024-03-13 00:00:00
314  sub-079      P7   ses-4  2027-04-10 00:00:00

[315 rows x 4 columns]

In [172]:
df_concat['date']='date'
for sub in df_time_melt['Subject'].unique():
    for ses in df_time_melt['Session'].unique():
        date=df_time_melt.loc[(df_time_melt['Subject']==sub)&(df_time_melt['Session']==ses),'date']
        Experiment=df_time_melt.loc[(df_time_melt['Subject']==sub)&(df_time_melt['Session']==ses),'Project']
        df_concat["date"] = np.where((df_concat["Subject"]==sub) & (df_concat["Session"]==ses), date, df_concat["date"])
        df_concat['Experiment'] = np.where((df_concat["Subject"]==sub) & (df_concat["Session"]==ses), Experiment, df_concat["Experiment"])

In [173]:
# delete all rows not containing correct date string
df_concat=df_concat[df_concat['date']!='date']
df_concat['date']=pd.to_datetime(df_concat['date']).copy()
df_concat

/tmp/ipykernel_817046/4019678154.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat['date']=pd.to_datetime(df_concat['date']).copy()

,Electrode,run,Session,Subject,Dimension,Coordinates,Experiment,date
0,Anode,run-01,ses-4,sub-015,X,74.094224,P1,2023-10-01
1,Cathode1,run-01,ses-4,sub-015,X,74.044583,P1,2023-10-01
2,Cathode2,run-01,ses-4,sub-015,X,62.659286,P1,2023-10-01
3,Cathode3,run-01,ses-4,sub-015,X,78.118825,P1,2023-10-01
4,Anode,run-02,ses-4,sub-015,X,74.062845,P1,2023-10-01
...,...,...,...,...,...,...,...,...
138,Cathode3,baseline,ses-0,sub-034,Z,61.730000,P7,2023-07-05
139,Cathode3,baseline,ses-0,sub-037,Z,68.830000,P7,2023-07-16
141,Cathode3,baseline,ses-0,sub-043,Z,60.970000,P7,2023-07-30
142,Cathode3,baseline,ses-0,sub-058,Z,62.200000,P7,2023-07-27
143,Cathode3,baseline,ses-0,sub-060,Z,66.150000,P7,2023-08-06

In [174]:
# add Experiment label for subjects rows in which it's zero
for Project in ['P1','P3','P7']:
    list_subject=df_concat.loc[df_concat['Experiment']==Project,'Subject'].unique()
    df_concat["Experiment"] = np.where(df_concat["Subject"].copy().isin(list_subject), Project, df_concat["Experiment"])
    
df_concat['Electrode']=df_concat['Electrode'].str.replace('Anode ','Anode')
df_concat['Dimension']=df_concat['Dimension'].str.replace('Y ','Y')

df_concat

/tmp/ipykernel_817046/599912822.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat["Experiment"] = np.where(df_concat["Subject"].copy().isin(list_subject), Project, df_concat["Experiment"])
/tmp/ipykernel_817046/599912822.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat['Electrode']=df_concat['Electrode'].str.replace('Anode ','Anode')
/tmp/ipykernel_817046/599912822.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat['Dimension']=df_concat['Dimension'].str.replace('Y ','Y')

,Electrode,run,Session,Subject,Dimension,Coordinates,Experiment,date
0,Anode,run-01,ses-4,sub-015,X,74.094224,P1,2023-10-01
1,Cathode1,run-01,ses-4,sub-015,X,74.044583,P1,2023-10-01
2,Cathode2,run-01,ses-4,sub-015,X,62.659286,P1,2023-10-01
3,Cathode3,run-01,ses-4,sub-015,X,78.118825,P1,2023-10-01
4,Anode,run-02,ses-4,sub-015,X,74.062845,P1,2023-10-01
...,...,...,...,...,...,...,...,...
138,Cathode3,baseline,ses-0,sub-034,Z,61.730000,P7,2023-07-05
139,Cathode3,baseline,ses-0,sub-037,Z,68.830000,P7,2023-07-16
141,Cathode3,baseline,ses-0,sub-043,Z,60.970000,P7,2023-07-30
142,Cathode3,baseline,ses-0,sub-058,Z,62.200000,P7,2023-07-27
143,Cathode3,baseline,ses-0,sub-060,Z,66.150000,P7,2023-08-06

In [175]:
# create difference between baseline and sessions

In [176]:
df_diff=df_concat.pivot_table('Coordinates',['Subject','Experiment','Electrode'],['Dimension','Session','run'])
columns=df_diff.columns # baseline columns are [0,9,18,]
for num,column in enumerate(columns):
    if not num in ([0,9,18]):
        if 'X' in column: 
            df_diff[column]=abs(df_diff[column]-df_diff[columns[0]])
        elif 'Y' in column:
            df_diff[column]=abs(df_diff[column]-df_diff[columns[9]])
        elif 'Z' in column:
            df_diff[column]=abs(df_diff[column]-df_diff[columns[18]])
df_diff=df_diff.fillna('No_diff', inplace=False)     
df_diff

Dimension                           X                                          \
Session                         ses-0     ses-1               ses-2
run                          baseline    run-01    run-02    run-01    run-02
Subject Experiment Electrode
sub-001 P1         Anode        74.08  0.200946  1.153867    0.6488  1.641411
                   Cathode1     64.13  3.481251  3.506729  3.342948  4.295869
                   Cathode2     66.81  1.774521  2.687752  3.754014  4.613342
                   Cathode3     80.85  0.339132  0.446937  0.370506  0.384718
sub-002 P1         Anode       -61.44  4.782833  3.830662  1.029574  1.029574
...                               ...       ...       ...       ...       ...
sub-062 P3         Cathode3    -49.44  4.368154  4.368586   7.09035  7.990682
sub-064 P3         Anode      No_diff   No_diff   No_diff   No_diff   No_diff
                   Cathode1   No_diff   No_diff   No_diff   No_diff   No_diff
                   Cathode2   No_diff   No_diff   No_diff   No_diff   No_diff
                   Cathode3   No_diff   No_diff   No_diff   No_diff   No_diff

Dimension                                                              \
Session                          ses-3                ses-4
run                             run-01    run-02     run-01    run-02
Subject Experiment Electrode
sub-001 P1         Anode      2.427256  3.365964   0.995107  2.373353
                   Cathode1   0.922848  0.948325   3.790802  1.794316
                   Cathode2    5.15515  6.068381   3.921451  4.321299
                   Cathode3   1.408703  1.422916   0.937791  1.297949
sub-002 P1         Anode      2.059862  2.114547    No_diff   No_diff
...                                ...       ...        ...       ...
sub-062 P3         Cathode3   0.765966  0.143241  10.773709  9.854764
sub-064 P3         Anode       No_diff   No_diff    No_diff   No_diff
                   Cathode1    No_diff   No_diff    No_diff   No_diff
                   Cathode2    No_diff   No_diff    No_diff   No_diff
                   Cathode3    No_diff   No_diff    No_diff   No_diff

Dimension                           Y  ...                   Z             \
Session                         ses-0  ...      ses-4    ses-0      ses-1
run                          baseline  ...     run-02 baseline     run-01
Subject Experiment Electrode           ...
sub-001 P1         Anode       -61.42  ...   1.935457     3.59    1.51913
                   Cathode1    -81.92  ...  20.809404    22.88  48.661737
                   Cathode2    -64.15  ...  18.427984   -25.34  55.863048
                   Cathode3    -34.22  ...   1.836904    13.94   6.176642
sub-002 P1         Anode       -45.59  ...    No_diff    64.81  27.567409
...                               ...  ...        ...      ...        ...
sub-062 P3         Cathode3    -65.27  ...   3.579661    63.26   5.790311
sub-064 P3         Anode      No_diff  ...    No_diff  No_diff    No_diff
                   Cathode1   No_diff  ...    No_diff  No_diff    No_diff
                   Cathode2   No_diff  ...    No_diff  No_diff    No_diff
                   Cathode3   No_diff  ...    No_diff  No_diff    No_diff

Dimension                                                                 \
Session                                      ses-2                 ses-3
run                              run-02     run-01     run-02     run-01
Subject Experiment Electrode
sub-001 P1         Anode       0.493106   8.702304  10.610953   7.266394
                   Cathode1   49.359328  59.273652  58.247627  52.787156
                   Cathode2   55.719649  33.056381   33.98064  41.965899
                   Cathode3    8.311958   6.219183   6.404217   8.355408
sub-002 P1         Anode      26.653665   1.176237   1.176237   0.552282
...                                 ...        ...        ...        ...
sub-062 P3         Cathode3    6.675859   13.76463  14.640297   0.516548
sub-064 P3         Anode        No_diff    No_diff    No_diff    No_diff
                   Cathode1     No_diff    No_diff    No_diff    No_diff
                   Cathode2     No_diff    No_diff    No_diff    No_diff
                   Cathode3     No_diff    No_diff    No_diff    No_diff

Dimension
Session                                      ses-4
run                              run-02     run-01     run-02
Subject Experiment Electrode
sub-001 P1         Anode       8.107385   4.023606   6.198735
                   Cathode1   53.484748  49.052218  53.382075
                   Cathode2     41.8225  48.842774  40.344049
                   Cathode3    8.540441   1.068484   6.547616
sub-002 P1         Anode       1.530899    No_diff    No_diff
...                                 ...        ...        ...
sub-062 P3         Cathode3    0.509415  13.878238  12.968541
sub-064 P3         Anode        No_diff    No_diff    No_diff
                   Cathode1     No_diff    No_diff    No_diff
                   Cathode2     No_diff    No_diff    No_diff
                   Cathode3     No_diff    No_diff    No_diff

[184 rows x 27 columns]

In [177]:
#serie_new=df_diff.stack(future_stack=True).stack(future_stack=True).stack(future_stack=True)
df_diff_long=df_diff.stack().stack().stack()
df_diff_long=df_diff_long.to_frame().reset_index().dropna()
df_diff_long.columns=['Subject', 'Experiment', 'Electrode', 'run', 'Session', 'Dimension', 'Coordinate difference in mm']
df_diff_long.loc[df_diff_long['run']=='baseline','Coordinate difference in mm']=0
df_diff_long.dropna()

,Subject,Experiment,Electrode,run,Session,Dimension,Coordinate difference in mm
0,sub-001,P1,Anode,baseline,ses-0,X,0
1,sub-001,P1,Anode,baseline,ses-0,Y,0
2,sub-001,P1,Anode,baseline,ses-0,Z,0
3,sub-001,P1,Anode,run-01,ses-1,X,0.200946
4,sub-001,P1,Anode,run-01,ses-1,Y,0.103142
...,...,...,...,...,...,...,...
4963,sub-064,P3,Cathode3,run-02,ses-3,Y,No_diff
4964,sub-064,P3,Cathode3,run-02,ses-3,Z,No_diff
4965,sub-064,P3,Cathode3,run-02,ses-4,X,No_diff
4966,sub-064,P3,Cathode3,run-02,ses-4,Y,No_diff
4967,sub-064,P3,Cathode3,run-02,ses-4,Z,No_diff

In [178]:
df_diff_long['date']='date'
for sub in df_time_melt['Subject'].unique():
    for ses in df_time_melt['Session'].unique():
        date=df_time_melt.loc[(df_time_melt['Subject']==sub)&(df_time_melt['Session']==ses),'date']
        Experiment=df_time_melt.loc[(df_time_melt['Subject']==sub)&(df_time_melt['Session']==ses),'Project']
        df_diff_long["date"] = np.where((df_diff_long["Subject"]==sub) & (df_diff_long["Session"]==ses), date, df_diff_long["date"])
        df_diff_long['Experiment'] = np.where((df_diff_long["Subject"]==sub) & (df_diff_long["Session"]==ses), Experiment, df_diff_long["Experiment"])
df_diff_long=df_diff_long[(df_diff_long['date']!='date') & (df_diff_long['Coordinate difference in mm']!='No_diff')]
df_diff_long['date']=pd.to_datetime(df_diff_long['date'])

In [179]:
df_concat.to_csv(f'concat_{Name_Bach}.csv')
df_diff_long.to_csv(f'df_diff_long_{Name_Bach}.csv')
df_diff_long['date'].unique()

array(['2023-05-17T00:00:00.000000000', '2023-05-24T00:00:00.000000000',
       '2023-08-03T00:00:00.000000000', '2023-09-27T00:00:00.000000000',
       '2023-10-26T00:00:00.000000000', '2023-08-24T00:00:00.000000000',
       '2023-11-29T00:00:00.000000000', '2023-06-07T00:00:00.000000000',
       '2023-08-23T00:00:00.000000000', '2023-10-25T00:00:00.000000000',
       '2023-07-06T00:00:00.000000000', '2023-10-18T00:00:00.000000000',
       '2023-05-25T00:00:00.000000000', '2023-05-31T00:00:00.000000000',
       '2023-10-19T00:00:00.000000000', '2023-09-17T00:00:00.000000000',
       '2023-09-28T00:00:00.000000000', '2023-06-01T00:00:00.000000000',
       '2023-07-05T00:00:00.000000000', '2023-09-07T00:00:00.000000000',
       '2023-09-21T00:00:00.000000000', '2023-06-04T00:00:00.000000000',
       '2024-01-24T00:00:00.000000000', '2024-02-04T00:00:00.000000000',
       '2023-08-27T00:00:00.000000000', '2023-10-29T00:00:00.000000000',
       '2023-11-05T00:00:00.000000000', '2023-06-14T00:00:00.000000000',
       '2023-08-31T00:00:00.000000000', '2023-09-24T00:00:00.000000000',
       '2023-10-01T00:00:00.000000000', '2023-09-20T00:00:00.000000000',
       '2023-07-02T00:00:00.000000000', '2023-08-17T00:00:00.000000000',
       '2023-09-14T00:00:00.000000000', '2023-06-18T00:00:00.000000000',
       '2023-06-11T00:00:00.000000000', '2023-06-28T00:00:00.000000000',
       '2023-09-10T00:00:00.000000000', '2023-06-08T00:00:00.000000000',
       '2023-06-15T00:00:00.000000000', '2023-08-10T00:00:00.000000000',
       '2023-11-09T00:00:00.000000000', '2024-02-14T00:00:00.000000000',
       '2024-02-21T00:00:00.000000000', '2023-06-29T00:00:00.000000000',
       '2023-10-08T00:00:00.000000000', '2023-06-22T00:00:00.000000000',
       '2023-10-05T00:00:00.000000000', '2023-10-11T00:00:00.000000000',
       '2023-09-06T00:00:00.000000000', '2023-11-08T00:00:00.000000000',
       '2023-07-09T00:00:00.000000000', '2023-10-04T00:00:00.000000000',
       '2023-07-12T00:00:00.000000000', '2023-07-26T00:00:00.000000000',
       '2023-07-16T00:00:00.000000000', '2023-10-15T00:00:00.000000000',
       '2023-10-22T00:00:00.000000000', '2023-07-23T00:00:00.000000000',
       '2023-09-13T00:00:00.000000000', '2023-08-16T00:00:00.000000000',
       '2023-08-20T00:00:00.000000000', '2023-11-02T00:00:00.000000000',
       '2023-07-30T00:00:00.000000000', '2023-08-02T00:00:00.000000000',
       '2023-07-13T00:00:00.000000000', '2023-07-19T00:00:00.000000000',
       '2023-08-30T00:00:00.000000000', '2023-07-20T00:00:00.000000000',
       '2023-07-27T00:00:00.000000000', '2024-03-10T00:00:00.000000000',
       '2024-03-17T00:00:00.000000000', '2023-08-06T00:00:00.000000000',
       '2023-08-09T00:00:00.000000000'], dtype='datetime64[ns]')